body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.kolom {
	margin-top: 50px;
	margin-bottom: 50px;
}

h2 {
	font-family: 'sans-serif;';
	font-weight: 800;
	font-size: 45px;
	margin-bottom: 20px;
	color: #ffffff;
	width: 100%;
	line-height: 490px;

}

h1 {
	color: white;
}

.wrapper {
	width: 1300px;
	margin: auto;
}

.logo a {
	font-size: 30px;
	font-weight: bold;
	float: left;
	font-family: sans-serif;
	color: #F8ECD1;
}

.menu {
	float: right;
}

nav {
	width: 100%;
	margin: auto;
	display: flex;
	line-height: 50px;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	background: #73777B;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav ul li {
	float: left;
}

nav ul li a {
	color: black;
	font-weight: bold;
	text-align: center;
	padding: 10px 15px 10px 15px;
	text-decoration: none;
}

.active a {
	color: black;
}

nav ul li a:hover {
	border-radius: 1px;
	background: #ffffff;
	/*margim: 0.02px;*/
    color: black;
}

.kolomprofil {
	margin-left: 150px;
	margin-top: 50px;
	margin-bottom: 10px;
	font-family: 'sans-serif;';
	font-size: 25px;
	color: white;
}

.conteudo1 {
	border-top: 500px;
	width: 1100px;
	padding: 20px;
	margin: 50px 100px 10px;
	background: #E4AEC5;
	transition: all 0.5s ease;
	border: 1px solid #E4AEC5;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	-moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
	border-radius: 1px 2px;
	background-color: rgb(240, 240, 240);
}

.conteudo2 {
	border-top: 500px;
	width: 1100px;
	padding: 20px;
	margin: 50px 100px 10px;
	background: #E4AEC5;
	transition: all 0.5s ease;
	border: 1px solid #E4AEC5;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	-moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
	border-radius: 1px 2px;
	background-color: rgb(240, 240, 240);
}

.conteudo3 {
	border-top: 500px;
	width: 1100px;
	padding: 20px;
	margin: 50px 100px 10px;
	background: #E4AEC5;
	transition: all 0.5s ease;
	border: 1px solid #E4AEC5;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	-moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
	border-radius: 1px 2px;
	background-color: rgb(240, 240, 240);
}

.conteudo4 {
	border-top: 500px;
	width: 1100px;
	padding: 20px;
	margin: 50px 100px 10px;
	background: #E4AEC5;
	transition: all 0.5s ease;
	border: 1px solid #E4AEC5;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	-moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
	border-radius: 1px 2px;
	background-color: rgb(240, 240, 240);
}

.deskripsisiskom {
	font-size: 25px;
}

.deskripsisiskom1 {
	font-size: 20px;
}

.conteudo5 {
	border-top: 500px;
	width: 1100px;
	padding: 20px;
	margin: 50px 100px 10px;
	background: #E4AEC5;
	transition: all 0.5s ease;
	border: 1px solid #E4AEC5;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	-moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
	border-radius: 1px 2px;
	background-color: rgb(240, 240, 240);
}